{% load static %}
{% load bootstrap4 %}

<html>


<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/home.css' %}">

</head>

     <div class="row">

      <div class="col-sm-2" >
          <p class="p-2"> SoloChino </p>

      </div>

        <div class="col-sm-8">

      <div class="row">
        {% block search %}

          {% endblock %}


        {% for key, value in new_list_mobiles.items %}

          <div class="mx-auto card-deck" >

              <div class="card" style="max-width: 18rem; margin-bottom: 25px" >


                <div class="card-body">
                    {% for v in value %}
            {% if forloop.counter == 1   %}
                <img src={{v.4}} class="card-img-top"  alt="..." style="max-height: 150px; max-width: 150px">

            {% endif %}
                  <h5 class="card-title"> {{ v.3 }} </h5>
            {% if forloop.counter <= 4  and forloop.counter > 1   %}

                  <p class="card-text"> <a href={{v.2}} target="_blank" >{{ v.0 }}: </a>${{ v.1 }}  </p>
            {% endif %}
                  {% endfor %}

                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>


                </div>

              </div>

          </div>


        {% endfor %}



        </div>


            <div class="pagination"  style="display: flex; justify-content: flex-end" >

              {% if list_mobiles.has_previous %}
              <a href="?page=1">First </a>
              <a href="?page={{ list_mobiles.previous_page_number }}"> Previous </a>
              {% endif %}

              <span>{{ list_mobiles.number }}</span>
              <span> of</span>
              <span>{{ list_mobiles.paginator.num_pages }}</span>

              {% if list_mobiles.has_next %}
              <a href="?page={{ list_mobiles.next_page_number }}">Next </a>
              <a href="?page={{ list_mobiles.paginator.num_pages }}">Last </a>
              {% endif %}
            </div>
      </div>


      <div class="col-sm-2">

                     <p class="p-2" align="right"> El dolar de hoy es: ${{valor_dolar}} </p>

      </div>

     </div>








    </body>
</html>