{% load static %}
{% load bootstrap4 %}
{% load mathfilters %}

<html>


<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/home.css' %}">
    <link href="/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>SoloChino</title>
</head>
<nav class="navbar navbar-light" style="background-color: #008080;">
  <a class="navbar-brand" style="color: FFFFFF" href="./">SoloChino</a>
      <a class="navbar-brand"  style="color: FFFFFF"  align="right">Valor dólar: ${{valor_dolar}} </a>

</nav>
     <div class="row">


      <div class="col-sm-2" >


      </div>

        <div class="col-sm-8">

      <div class="row">
        {% block search %}

          {% endblock %}


        {% for key, value in list_mobiles %}

          <div class="mx-auto card-deck" >

              <div class="card" style="width: 16rem; margin-bottom: 25px" >


                <div class="card-body">
                    {% for v in value %}
            {% if forloop.counter == 1   %}
                <img src={{v.5}} class="card-img-top" alt="Imagen no disponible"  style="height: 150px; width: 150px">

            {% endif %}

                  <h5 class="card-title"  > <strong > <a href="product/{{v.3}}" style="color: black;" >  {{ v.4 }} </a> </strong>   </h5>
            {% if forloop.counter <= 4  and forloop.counter > 1   %}

                  <p class="card-text"> <a href={{v.2}} target="_blank" >{{ v.0 }}: </a>${{ v.1 }}
                      {% if v.0 == "Ebay" %}
                       {% with numerator=v.1|slugify denominator=valor_dolar %}
                      <a href="#"  data-toggle="tooltip" title="Valor en dólares: {{numerator|div:denominator|floatformat:1}} " > <i class="fa fa-info-circle"></i>   </a>
                      {% endwith %}
                      {% endif %}
                </p>
            {% endif %}
                  {% endfor %}


                  <p class="card-text"><small class="text-muted">Valores pueden variar dependiendo de especificaciones internas del teléfono</small></p>


                </div>

              </div>

          </div>


        {% endfor %}



        </div>


            <div class="pagination"  style="display: flex; justify-content: flex-end" >

              {% if list_mobiles.has_previous %}
              <a href="?page=1">First </a>
              <a href="?page={{ list_mobiles.previous_page_number }}"> Previous </a>
              {% endif %}

              <span>{{ list_mobiles.number }}</span>
              <span> of</span>
              <span>{{ list_mobiles.paginator.num_pages }}</span>

              {% if list_mobiles.has_next %}
              <a href="?page={{ list_mobiles.next_page_number }}">Next </a>
              <a href="?page={{ list_mobiles.paginator.num_pages }}">Last </a>
              {% endif %}
            </div>
      </div>


      <div class="col-sm-2">


      </div>

     </div>








    </body>
</html>