.col-sm {
  float: left;
  width: 33.33%;


}

img {
  display: block;
  margin: 0 auto;
}

.pagination {
    text-align: center;
    margin-top: 1em;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}