.col-sm {
  float: left;
  width: 33.33%;


}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}